@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
    height: 100%;
}

@media (display-mode: standalone) {
    html, body, #root {
        height: calc(100% + 16px);
    }
}

:root {
        --color-green: #BCE29E;
        --color-lime: #E5EBB2;
        --color-rose: #F8C4B4;
        --color-pink: #FF8787;
        --color-brown: #FEBE8C;
        --color-blue: #A3DDDD;
        --color-ice: #ADCECE
}
