@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
        --color-green: #a4c68a;
        --color-lime: #d2da8e;
        --color-rose: #c79e91;
        --color-pink: #FF8787;
        --color-brown: #e7a675;
        --color-blue: #4ea7a7;
        --color-ice: #86b6b6;
        --notch: 0px; 
}

html, body, #root {
   height: 100%; 
}


@media only screen and (orientation: portrait) and (display-mode: standalone) {
    html, body, #root {
        height: calc(100% + (env(safe-area-inset-top) - env(safe-area-inset-bottom)) + 5px);
    }
    :root {
        --notch: env(safe-area-inset-top);
    }
}




/* React Calendar styles */
abbr:where([title]) {
   text-decoration: none; 
}

.react-calendar {    
    max-width: 450px;
    max-width: 100%;
    background: inherit;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
  }
  .react-calendar--doubleView {
    width: 900px;
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
  }
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
    @apply text-gray-700 dark:text-gray-100 rounded-lg
  }
  .react-calendar__navigation button:disabled {
    @apply bg-gray-100 dark:bg-gray-600 opacity-50
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    @apply bg-gray-100 dark:bg-gray-600
  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    /* text-transform: uppercase; */
    font-weight: bold;
    font-size: 0.75em;
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
    @apply text-lg text-gray-900 dark:text-gray-200
  }
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
  }

  .react-calendar__month-view__days {
    @apply text-gray-700 dark:text-gray-50
  }
  .react-calendar__month-view__days__day {
  }

  .react-calendar__month-view__days__day--weekend {
    @apply text-red-500
  }
  .react-calendar__month-view__days__day--neighboringMonth {
   @apply text-gray-400
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }
  .react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
    border-radius: 10px;
    overflow: hidden;
  }
  .react-calendar__tile:disabled {
    @apply dark:text-gray-200 text-gray-400 opacity-50
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
   /* @apply bg-gray-100 dark:bg-gray-600 text-gray-600 dark:text-gray-200  */
  }
  .react-calendar__tile--now {
    /* background: #ffff76; */
    background: none;
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: none;
  }
  .react-calendar__tile--hasActive {
    /* background: #76baff; */
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    /* background: #a9d4ff; */
  }
  .react-calendar__tile--active {
    @apply text-gray-900 font-bold text-lg dark:text-white
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    /* @apply bg-blue-200 */
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }
 
  .react-calendar-tile--selected {
    @apply  relative 
  }
  .react-calendar-tile--selected:hover {
    @apply opacity-70 
  }
  
